@media screen and (max-width: 1229px) {

  /* hero --------------------------*/
  .hero-rose {
    margin-top: 3.125em;
  }

  /* advantages --------------------------*/
  .advantages__list {
    max-width: 70%;
    margin: 0 auto;
  }
  .advantages__item {
    margin-bottom: 3.125em;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }

  /* catalog ----------------------------- */
  .catalog__item {
    margin-bottom: 1.25em;
  }
  .catalog__item-link {
  	bottom: 0;
  }

  /* steps ----------------------------- */
  .steps__list {
    max-width: 70%;
    margin: 0 auto;
  }
  .steps__item {
    margin-bottom: 1.875em;
  }
  .steps__item:last-child,
  .steps__item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .steps__item:nth-child(2n) {
    margin-right: 0;
  }

  /* news ----------------------------- */
  .news__inner {
    max-width: 70%;
    margin: 0 auto 2.5em;
    text-align: center;
  }
  .news__content {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .news__title {
    max-width: 100%;
  }
  .news__images {
  	max-width: 100%;
  }
}

@media screen and (max-width: 1099px) {

  /* header --------------------------*/
  .menu__item+.menu__item {
  	margin-left: 2.5em;
  }

  /* discount ----------------------- */
  .discount__content {
    margin: 0 auto 50px;
    padding-left: 0;
  }

}

@media screen and (max-width: 992px) {

  /* header -------------------------- */
  .menu__item+.menu__item {
  	margin-left: 1.5em;
  }
  .user {
  	margin-left: 1.5em;
  }

}

@media screen and (max-width: 924px) {

  /* steps ----------------------------- */
  .advantages__list,
  .steps__list {
  	max-width: 100%;
  }
}

@media screen and (max-width: 870px) {

  body.lock {
    overflow: hidden;
  }
  /* header ----------------------------- */
  .menu__list {
    display: none;
  }
  .menu__link {
    display: block;
    padding: 1.25em 0;
  }
  .mobile-menu__list {
    position: fixed;
    top: 97px;
    right: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--white-t);
    transform: translateX(-100%);
    transition: .2s ease-in;
    z-index: 1;
  }
  .mobile-menu__list--open {
    transform: translateX(0);
  }
  .mobile-menu__link {
    display: block;
    padding: 1.25em 3.125em;
  }
  .mobile-menu__link:hover,
  .mobile-menu__link:focus {
    background-color: var(--bg-l);
    color: var(--hov);
  }
  .mobile-btn {
    position: relative;
    display: block;
    fill: var(--accent-c);
    z-index: 2;
  }
  .mobile-btn__close {
    opacity: 0;
  }
  .mobile-btn--open .mobile-btn__close {
    opacity: 1;
  }
  .mobile-btn--open .mobile-btn__menu {
    opacity: 0;
  }
  .logo {
    position: relative;
    margin: 0;
    z-index: 1;
  }
  .user {
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }

  /* catalog ----------------------------- */
  .catalog__inner {
  	max-width: 700px;
  }
  /* catalog ----------------------------- */
  .catalog__item {
  	margin-right: 0;
  }

  /* footer ----------------------------- */
  .footer-logo {
    margin-left: 3.125em;
  }
  .socials {
    margin-right: 3.125em;
    margin-left: auto;
  }
}

@media screen and (max-width: 820px) {

  /* hero ----------------------------- */
  .hero-content {
    max-width: 60%;
    margin-bottom: 3.125em;
    text-align: center;
  }

}

@media screen and (max-width: 768px) {

  /* hero ----------------------------- */
  .hero-rose {
    margin-bottom: 0;
  }
  /* advantages --------------------------*/
  .advantages__item {
  	min-width: 80%;
  }
  .advantages__item+.advantages__item {
    margin-left: 0;
  }

  /* catalog ---------------------------- */
  .catalog__inner {
    margin-bottom: 0;
  }

  /* news ----------------------------- */
  .news__content-text {
    font-size: 1.25rem;
  }
}


@media screen and (max-width: 619px) {

  /* advantages --------------------------*/
  .advantages__item-car:first-child {
  	padding-left: 5em;
  }

  /* steps ----------------------------- */
  .steps__item,
  .advantages__item {
    background-size: 72px 52px;
  }
  .steps__item:nth-last-child(2) {
    margin-bottom: 1.875em;
  }
}

@media screen and (max-width: 520px) {

  /* hero ----------------------------- */
  .xlg-title,
  .xlg-title-i,
  .lg-title {
    font-size: 1.875rem;
  }
  .hero-text {
    font-size: 1.25rem;
  }
  .hero-rose {
    margin-right: 0;
    margin-top: 1.25em;
  }
  /* advantages --------------------------*/
  .advantages__item {
  	max-width: 100%;
  }

  /* catalog ---------------------------- */
  .catalog__inner {
  	padding-bottom: 1.25em;
  }

  /* discount ---------------------------- */
  .discount__content-title {
    padding: 0.625em;
  }

  /* steps ----------------------------- */
  .steps__inner {
    margin-bottom: 1.25em;
  }

  /* news ----------------------------- */
  .news__inner {
    margin-bottom: 1.25em;
    padding-top: 1.25em;
  }
  .news__content-text {
  	font-size: 1.125rem;
  }
}

@media screen and (max-width: 400px) {

  /* header ----------------------------- */
  .mobile-menu__list {
    text-align: center;
  }

  /* hero ----------------------------- */
  .hero-text {
  	font-size: 1rem;
  }

  /* footer ----------------------------- */
  .footer-logo {
  	margin-left: 0;
  }

  .socials {
  	margin-right: 0;
  	margin-left: auto;
  }
}
