:root {
  --accent-c: #ae7c78;
  --hov: rgba(174, 124, 120, 0.7);
  --white-t: #fff;
  --bg-l: rgba(255, 229, 227, 0.35);
  --modal-c: rgba(0, 0, 0, .8);
}
html {
  box-sizing: border-box;
  font-size: 100%;
   /* scroll-behavior: smooth; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: 'Montserrat', "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--accent-c);
}

body.lock {
	overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

button {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--accent-c);
}

blockquote {
  margin: 0;
}


.tooltip {
	position: absolute;
  display: none;
  max-width: 250px;
	padding: 5px 10px;
	background: var(--hov);
	font-size: 14px;
  letter-spacing: 0.07em;
	text-align: center;
	text-shadow: none;
	color: var(--white-t);
	z-index: 100;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.xlg-title {
  font-family: 'Playfair Display', 'Cambria', 'Times New Roman', serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 1.33;
}

.xlg-title-i {
  font-family: 'Playfair Display-Italic', 'Cambria', 'Times New Roman', serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 1.33;
}

.lg-title {
  font-family: 'Playfair Display','Cambria','Times New Roman', serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.md-title {
  font-family: 'Montserrat','Arial', 'Tahoma', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.sm-title {
  font-family: 'Montserrat','Arial','Tahoma',sans-serif;
  font-weight: 500;
}


/* header ------------------------------------- */

.header {
  padding-top: 1.625em;
}
.header-inner {
  min-height: 64px;
  border-top: 1px solid var(--accent-c);
  border-bottom: 1px solid var(--accent-c);
}
.header__menu {
  display: flex;
  align-items: center;
  padding: 0.94em 0;
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu__item {
	position: relative;
  margin-bottom: 0.625em;
}
.menu__item+.menu__item {
  margin-left: 5em;
}
.user__btn::after,
.menu__link::after,
.user__btn::after,
.menu__link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent-c);
  transition: .15s ease-in;
}
.user__btn:hover::after,
.menu__link:hover::after,
.user__btn:focus::after,
.menu__link:focus::after {
  width: 100%;
}
.logo {
  max-width: 100px;
  min-height: 33px;
  margin: 0 auto;
}
.logo__img {
  width: 100%;
}
.user {
  position: relative;
  margin-left: 5.63em;
  margin-bottom: 0.625em;
}
.mobile-btn,
.mobile-menu__list {
  display: none;
}
.mobile-menu__list {
  min-height: 150px;
  max-height: 70vh;
  overflow-y: auto;
}


/* /header ------------------------------- */

/* main */

/* hero ------------------------------- */

.hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
  padding-top: 3.125em;
}
.hero-content {
  max-width: 390px;
}
.hero-text {
  margin-top: 1.5em;
  margin-bottom: 2.4em;
  font-size: 1.5rem;
}
.hero-link {
  display: inline-block;
  padding: 1.25em 3.125em;
  border-radius: 40px;
  background-color: var(--accent-c);
  color: var(--white-t);
}
.hero-link:hover,
.hero-link:focus {
  background-color: var(--hov);
}
.hero-images {
  max-width: 386px;
  max-height: 404px;
}
.hero-images-thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.hero-tulip {
  align-self: flex-end;
  margin: 0 auto;
}
.hero-rose {
  margin-bottom: 2.63em;
  margin-right: 1.25em;
}

/* /hero ------------------------------- */

/* advantages ------------------------------- */

.advantages__inner {
  padding-top: 1.5em;
  margin-bottom: 2.5em;
}
.advantages__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
}
.advantages__item {
  max-width: 357px;
}
.advantages__item+.advantages__item {
  margin-left: 3.125em;
}
.advantages__item-car {
  padding-left: 102px;
  background: url('../images/icon/car.svg') no-repeat top left;
}
.advantages__item-bouquet {
  padding-left: 65px;
  background: url('../images/icon/bouquet.svg') no-repeat top left;
}
.advantages__item-photo {
  padding-left: 80px;
  background: url('../images/icon/photo.svg') no-repeat top left;
}
.advantages__title {
  margin-bottom: 0.5em;
}

/* /advantages ------------------------------- */

/* popular ------------------------------- */

.popular__inner {
  max-width: 820px;
  margin: 0 auto;
  margin-bottom: 2.5em;
  padding-top: 2.5em;
}
.popular__title {
	margin-bottom: 1.055em;
	text-align: center;
}
.popular__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}
.popular__content {
  max-width: 387px;
  padding: 0 0.625em;
}
.popular__content-title {
  margin-bottom: 0.83em;
}
.popular__text {
  margin-bottom: 1.5em;
}
.popular__size {
  display: block;
  margin-bottom: 1.5em;
}
.popular__price {
  display: block;
  margin-bottom: 3.92em;
  font-weight: 500;
  font-size: 1.5rem;
}
.popular__link {
  padding: 1.875em 6.25em;
  border-radius: 40px;
  background-color: var(--accent-c);
  color: var(--white-t);
  transition: background-color .2s ease-in;
}
.popular__link:hover {
  background-color: var(--hov);
}
.popular__images {
  max-width: 387px;
  min-height: 438px;
  margin-left: auto;
}
.popular__images-thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.popular__btn {
  position: absolute;
  bottom: -34px;
}
.popular-prev {
  left: calc(50% - 65px);
}
.popular-next {
  left: 50%;
}

/* /popular ------------------------------- */

/* catalog ------------------------------- */

.catalog__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.875em;
  padding-top: 2.5em;
}
.catalog__item {
  position: relative;
  max-width: 388px;
  min-height: 442px;
  margin-right: 1.125em;
  margin-bottom: 1.125em;
  color: var(--white-t);
}
.catalog__item:last-child {
  margin-right: 0;
}
.catalog__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.catalog__item-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: .2s ease-in;
}
.catalog__item-title {
  margin-bottom: 0.223em;
}
.catalog__item-link:hover {
  background: rgba(174, 124, 120, 0.6);
  border-radius: 10px;
  opacity: 1;
}


/* /catalog ------------------------------- */

/* discount ------------------------------- */

.discount__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2.5em;
  background-color: var(--accent-c);
  color: var(--white-t);
}
.discount__content {
  max-width: 430px;
  margin-right: auto;
  padding-left: 6.375em;
  padding-bottom: 2.5em;
}
.discount__content-title {
  margin-bottom: 0.55em;
}
.discount__content-text {
  max-width: 410px;
  padding: 0 0.625em;
}
.discount__images {
  max-width: 590px;
  max-height: 391px;
}
.discount__images-thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* /discount ------------------------------- */

/* steps ------------------------------- */

.steps__inner {
  margin-bottom: 2.5em;
  padding-top: 2.5em;
  text-align: center;
}
.steps__title {
  margin: 0 auto 1em;
}
.steps__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.steps__item {
  max-width: 285px;
  margin-right: 1.25em;
  padding: 3.75em 0.31em 0;
}
.steps__item:last-child {
  margin-right: 0;
}
.steps__item-pc {
  background: url('../images/icon/pc.svg') no-repeat top;
}
.steps__item-woman {
  background: url('../images/icon/woman.svg') no-repeat top;
}
.steps__item-card {
  background: url('../images/icon/card.svg') no-repeat top;
}
.steps__item-car {
  background: url('../images/icon/car.svg') no-repeat top;
}
.steps__item-title {
  margin-bottom: 0.5em;
}

/* /steps ------------------------------- */

/* news ------------------------------- */

.news__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  margin-bottom: 2.5em;
  padding-top: 2.5em;

}
.news__content {
  max-width: 480px;
  margin-right: auto;
  padding: 0 0.625em;
}
.news__title {
  margin-bottom: 1.11em;
}
.news__content-text {
  margin-bottom: 1.66em;
  font-size: 1.5rem;
}
.news-socials__link {
  fill: var(--accent-c);
}
.news-socials__link:hover,
.news-socials__link:focus {
	fill: var(--hov);
}
.news__images {
  display: grid;
  grid-template-columns: 41.24% 56.06%;
  grid-template-rows: repeat(2, 31.84%);
  gap: 1.25em ;
  max-width: 57.66%;
}
.news__images-thumb--a {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__images-thumb--b {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__images-thumb--c {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* /news ------------------------------- */

/* reviews ------------------------------- */

.reviews__wrap {
  padding-top: 2.5em;
  margin-bottom: 5em;
  text-align: center;
}
.reviews__title {
  margin-bottom: 1.11em;
}
.reviews__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.reviews__item {
  max-width: 300px;
  margin-right: 6.625em;
  padding: 0 0.625em;
}
.reviews__item:last-child {
  margin-right: 0;
}
.reviews__item-text {
  margin-bottom: 1em;
}
.reviews__item-title {
  font-weight: 500;
  font-style: normal;
}

/* /reviews ------------------------------- */

/* contacts -------------------------------- */

.contacts {
  max-width: 100vw;
  min-height: 645px;
  padding-top: 3.25em;
}
.contacts-inner {
  max-width: 386px;
  margin-left: 6.25em;
  padding: 2.5em 1.25em 4.06em 2.19em;
  border-radius: 12px;
  background-color: var(--white-t);
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  text-align: left;
}
.contacts__title {
  margin-bottom: 1.16em;
}
.post-office,
.mode,
.phone {
  margin-bottom: 1.875em;
}
.post-office__title {
  display: inline-block;
  margin-bottom: 1.25em;
}
.mode__title,
.phone__title {
  display: inline-block;
  margin-bottom: 0.875em;
  font-style: normal;
}
.phone__link,
.email__link {
  display: block;
  font-style: normal;
  font-weight: 500;
}
.email__title {
  display: inline-block;
  margin-bottom: 1.06em;
  font-style: normal;
}

/* /contacts */

/* /main */

/* footer */

.footer {
  background-color: var(--accent-c);
  color: var(--white-t);
}
.footer-inner {
  display: flex;
  align-items: center;
  padding: 1.25em 0 2.5em 0;
}
.footer-logo {
  margin: 0;
}
.footer-menu__list {
  margin: 0 auto;
}
.footer-menu__item+.footer-menu__item {
  margin-left: 4.25em;
}
.footer-menu__link::after {
	background-color: var(--white-t);
}
.socials {
  display: flex;
  align-items: center;
}
.socials__item+.socials__item {
  margin-left: 1.125em;
}
.footer-socials__link {
  fill: var(--white-t);
}
.footer-socials__link:hover,
.footer-socials__link:focus {
  fill: var(--bg-l);
}

/* /footer */

/* scroll ------------------------- */

.up-scroll {
  position: fixed;
  bottom: 150px;
  right: 70px;
  width: 60px;
  height: 60px;
  border: 3px solid var(--accent-c);
  border-radius: 50%;
  fill: var(--accent-c);
}
.scroll {
  width: 30px;
  height: 30px;
}

/* /scroll ------------------------- */

/* modal------------------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-c);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.8s ease 0s;
  z-index: 1000;
}
.modal--open {
  opacity: 1;
  visibility: visible;
}
.modal--open .modal__content {
  transform: translateY(0) rotateX(0deg);
  opacity: 1;
}
.modal__body {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.875em 0 3.125em;
  border-radius: 10px;
  background-color: var(--white-t);
  transform: translateY(-40%) rotateX(70deg);
  transition: transform .8s ease, opacity .3s ease;
}
.modal__content-header {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0 4.375em 1em;
  border-bottom: 1px solid var(--accent-c);
}
.modal__title {
	max-width: 200px;
	margin-right: auto;
  font-size: 1.875rem;
}
.modal__btn {
	fill: var(--accent-c);
}
.modal__content-main {
	flex: 1 0 auto;
  margin: 10% auto;
}
.modal__images {
  max-width: 147px;
  min-height: 125px;
}
.modal__content-footer {
	flex: 0 0 auto;
  margin: 0 auto;
  text-align: center;
}
.modal__content-title {
  margin-bottom: 1em;
}




/* /modal ------------------------- */
