:root {
  --accent-c: #ae7c78;
  --hov: #ae7c78c9;
  --white-t: #fff;
  --bg-l: rgba(255, 229, 227, 0.35);
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: 'Montserrat', "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--accent-c);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--accent-c);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.xlg-title {
  font-family: 'Playfair Display', 'Cambria', 'Times New Roman', serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 1.33;
}

.xlg-title-i {
  font-family: 'Playfair Display-Italic', 'Cambria', 'Times New Roman', serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 1.33;
}

.lg-title {
  font-family: 'Playfair Display','Cambria','Times New Roman', serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.md-title {
  font-family: 'Montserrat','Arial', 'Tahoma', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.sm-title {
  font-family: 'Montserrat','Arial','Tahoma',sans-serif;
  font-weight: 500;
}


/* header ------------------------------------- */

.header {
  padding-top: 1.625em;
}
.header-inner {
  border-top: 1px solid var(--accent-c);
  border-bottom: 1px solid var(--accent-c);
}
.header__menu {
  display: flex;
  align-items: center;
  padding: 0.94em 0;
}
.menu__list {
  display: flex;
}
.menu__item {
	position: relative;
}
.menu__item+.menu__item {
  margin-left: 5em;
}
.user__btn::after,
.menu__link::after,
.user__btn::after,
.menu__link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent-c);
  transition: .15s ease-in;
}
.user__btn:hover::after,
.menu__link:hover::after,
.user__btn:focus::after,
.menu__link:focus::after {
  width: 100%;
}
.logo {
  max-width: 100px;
  min-height: 33px;
  margin: 0 auto;
}
.logo__img {
  width: 100%;
}
.user {
  position: relative;
  margin-left: 5.63em;
}
.mobile-btn,
.mobile-menu__list {
  display: none;
}


/* /header ------------------------------- */

/* main */

/* hero ------------------------------- */

.hero__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3.125em 0 1.5em;
}
.hero-content {
  max-width: 390px;
}
.hero-text {
  margin-top: 1.5em;
  margin-bottom: 2.4em;
  font-size: 1.5rem;
}
.hero-link {
  display: inline-block;
  padding: 1.25em 3.125em;
  border-radius: 40px;
  background-color: var(--accent-c);
  color: var(--white-t);
}
.hero-link:hover,
.hero-link:focus {
  background-color: var(--hov);
}
.hero-images {
  max-width: 386px;
  max-height: 404px;
}
.hero-images-thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.hero-tulip {
  align-self: flex-end;
  margin: 0 auto;
}
.hero-rose {
  margin-bottom: 2.63em;
  margin-right: 1.25em;
}

/* /hero ------------------------------- */

/* advantages ------------------------------- */

.advantages__inner {
  padding-top: 1.5em;
  padding-bottom: 2.5em;
}
.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.advantages__item {
  max-width: 357px;
}
.advantages__item+.advantages__item {
  margin-left: 3.125em;
}
.advantages__item-car {
  padding-left: 102px;
  background: url('../images/icon/car.svg') no-repeat top left;
}
.advantages__item-bouquet {
  padding-left: 65px;
  background: url('../images/icon/bouquet.svg') no-repeat top left;
}
.advantages__item-photo {
  padding-left: 80px;
  background: url('../images/icon/photo.svg') no-repeat top left;
}
.advantages__title {
  margin-bottom: 0.5em;
}

/* /advantages ------------------------------- */

/* popular ------------------------------- */

.popular__inner {
  max-width: 68%;
  margin: 0 auto;
  padding: 2.5em 0;
}
.popular__title {
	margin-bottom: 1.055em;
	text-align: center;
}
.popular__item {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 1.5em;
}
.popular__content {
  max-width: 50%;
  padding: 0 0.625em;
}
.popular__content-title {
  margin-bottom: 0.83em;
}
.popular__text {
  margin-bottom: 1.5em;
}
.popular__size {
  display: block;
  margin-bottom: 1.5em;
}
.popular__price {
  display: block;
  margin-bottom: 3.92em;
  font-size: 1.5rem;
}
.popular__link {
  padding: 30px 100px;
  border-radius: 40px;
  background-color: var(--accent-c);
  color: var(--white-t);
  transition: background-color .2s ease-in;
}
.popular__link:hover {
  background-color: var(--hov);
}
.popular__images {
  max-width: 50%;
  max-height: 438px;
  margin-left: 1.25em;
}
.popular__images-thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.popular__btn-box {
  width: 130px;
  margin: 0 auto;
}
.popular__btn+.popular__btn {
  margin-left: 20px;
}

/* /popular ------------------------------- */

/* catalog ------------------------------- */

.catalog__inner {
  padding: 2.5em 0;
}

/* /catalog ------------------------------- */

/* contacts */

.contacts {
  max-width: 100vw;
  min-height: 645px;
  padding-top: 3.25em;
}
.contacts-inner {
  max-width: 386px;
  margin-left: 6.25em;
  border-radius: 12px;
  background-color: var(--bg-l);
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  text-align: center;
}

/* /contacts */

/* /main */

/* footer */

.footer {
  background-color: var(--accent-c);
  color: var(--white-t);
}
.footer-inner {
  display: flex;
  align-items: center;
  padding: 1.25em 0 2.5em 0;
}
.footer-logo {
  margin: 0;
}
.footer-menu__list {
  margin: 0 auto;
}
.footer-menu__item+.footer-menu__item {
  margin-left: 4.25em;
}
.footer-menu__link::after {
	background-color: var(--white-t);
}
.socials {
  display: flex;
  align-items: center;
}
.socials__item+.socials__item {
  margin-left: 1.125em;
}
.socials__link {
  fill: var(--white-t);
}
.socials__link:hover,
.socials__link:focus {
  fill: var(--bg-l);
}

/* /footer */
